.section {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#map {
  height: 50%;
  width: 50%;
  text-align: center;
}
#mapcanvas {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.glowing-border {
  border: 2px solid #dadada;
  border-radius: 3px;
}
.glowing-border:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

button {
	background-color:#11E011;
	border-radius:3px;
	border:0px solid;
	display:inline-block;
	color:#ffffff;
	padding: 3px 9px 3px 9px;
  margin-left: 10px;
}

#hash span {
  color: gray;
  font-size: 200%;
}
