button {
	border: none;
	padding: 0.6em 1.2em;
	background: blue;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: hsl(237, 100%, 65%);
}

.modal h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	border-radius: 3px 3px 0 0;
}

.modal > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.modal > div p {
	margin: 0;
	padding: 10px 0;
}

.modal > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.modal > div ul li {
	padding: 5px 0;
}

.modal button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}
